.footer-content {
    margin-top: 70px;
    background: #1f1f1f;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 50px 80px 50px;
}

.footer-contac__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 20px;  
}

.footer-list__link {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    color: #a5a5a5;
}

.PROWEB {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}